/* body{
    background-color: pink;
    font-size: larger;
}
h1{
    background-color:yellow;
}
button{
    background-color: blue;
    color: white;
    font-size: large;
}
.header{
    text-align: center;
} */

/* .box{
    border: 1px solid black;
    background-color: aqua;
    align-items: center;
    margin-top: 25px;
    height: 150px;
    width: 150px;
    text-align: center;
    margin-left: 500px;
} */